/* Tailwind Inclusion */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personal Styles */
.tw {
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.tw-longer {
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 750ms;
}

.portrait-placeholder {
	width: 100%;
	background-color: #d9f4ff;
	padding-top: 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
}

@font-face {
	font-family: 'Karla';
	src: url(../fonts/Karla/Karla-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url(../fonts/Karla/Karla-Bold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Karla';
	src: url(../fonts/Karla/Karla-Italic.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Karla';
	src: url(../fonts/Karla/Karla-BoldItalic.ttf) format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Grotesk';
	src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf) format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Grotesk';
	src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf) format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Grotesk';
	src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf) format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Grotesk';
	src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf) format('truetype');
	font-weight: 200;
}
@font-face {
	font-family: 'Grotesk';
	src: url(../fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf) format('truetype');
	font-weight: 600;
}

.top-right-hidden {
	top: -55px;
	right: -55px;
	padding-top: 60%;
	z-index: 1;
}

.top-left-hidden {
	top: -55px;
	left: -55px;
	padding-top: 40%;
	z-index: 1;
}

.about-background {
	top: 6rem;
	z-index: -1;
	border-top-right-radius: 55px;
	border-bottom-right-radius: 55px;
	height: 115%;
}

.service-background {
	top: 6rem;
	z-index: -1;
	border-top-right-radius: 55px;
	border-bottom-right-radius: 55px;
	height: 50%;
}

.projects-background {
	top: 6rem;
	z-index: -1;
	border-top-left-radius: 55px;
	border-bottom-left-radius: 55px;
	height: 75%;
}

.pb-1\/10 {
	padding-bottom: 10%;
}

.projectHoverItem.clicked {
	transform: translateY(0);
	opacity: 1;
}

@media (hover: hover) and (pointer: fine) {
	.projectItem:hover > .projectHoverItem {
		transform: translateY(0);
		opacity: 1;
	}

	.projectHoverItem:hover {
		transform: translateY(0);
		opacity: 1;
	}
}

.projectHoverItem {
	background-color: rgba(85, 82, 124, 0.95);
	transform: translateY(16rem);
	opacity: 0;
	transition: transform 0.4s 0s ease-in-out, opacity 0.4s ease-in-out;
	top: 1rem;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}
